    :root {
      --light-bg-color: #f9f9f9;
      --light-text-color: #111;
      --dark-bg-color: #010101;
      --dark-text-color: #C5C5C5;
      --accent-color: #617AC1;
    }

    body {
      margin: 0;
      font-family: 'Inter', sans-serif;
      background-color: var(--light-bg-color);
      color: var(--light-text-color);
      overflow-x: hidden;
      max-width: 100%;
    }

    header, footer {
      padding: 10px;
      background: white;
      z-index: 10;
    }

    header { 
      top: 0; 
      border-bottom: 1px solid #ddd; 
    }

    footer { 
      bottom: 0; 
      border-top: 1px solid #ddd; 
    }

    main {
      padding: 20px 16px 60px;
      line-height: 1.6;
      min-height: 700px;
      background-color: var(--light-bg-color);
      color: var(--light-text-color);
    }

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
    }

    .nav button {
      background: none;
      border: none;
      font-size: 18px;
      cursor: pointer;
    }

    h1 {
      font-size: 18px; 
      margin-bottom: 12px; 
    }

    p {
      margin: 1em 0; 
    }

    .popup-overlay {
      position: fixed; 
      top: 0; 
      left: 0; 
      width: 100%; 
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: none; 
      align-items: center; 
      justify-content: center;
      z-index: 20;
    }

    .popup-content {
      background: white;
      padding: 20px;
      border-radius: 8px;
      max-height: 80%;
      overflow-y: auto;
      width: 80%; max-width: 400px;
      box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      border: 3px solid white;
    }

    .chapter-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
      gap: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .chapter-list button {
      background: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 4px;
      padding: 10px;
      font-size: 14px;
      cursor: pointer;
      color: var(--light-text-color);
    }

    .chapter-list button.active {
      background-color: var(--accent-color);
      color: white;
      border-color: var(--accent-color);
    }

    @media (prefers-color-scheme: dark) {

      body { 
        background-color: var(--dark-bg-color); 
      }

      header, footer { 
        background: var(--dark-bg-color); 
        border-color: #333; 
      }

      .nav button svg polyline { 
        stroke: var(--dark-text-color); 
      }

      #chapterNumber, #chapterNumberBottom, .popup-content > h2 { 
        color: var(--dark-text-color); 
      }

      main { 
        background-color: var(--dark-bg-color); 
        color: var(--dark-text-color); 
      }

      .popup-overlay { 
        background: rgba(0, 0, 0, 0.7); 
      }

      .popup-content { 
        background: var(--dark-bg-color); 
      }

      .chapter-list button {
        background: var(--dark-bg-color);
        border-color: var(--dark-text-color);
        color: var(--dark-text-color);
      }
    }
